#header .home .btn-custom{
    border: 2px solid rgba(255,255,255, .75);
    background: rgba(0, 0, 0, 0.86);
    width: 196px;
    height: 54px;
    opacity: 0.9;
    margin-top: 52px;
    font-family: 'Dosis', sans-serif;
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    font-size: 27px;
}

#header .home .btn-custom:hover {
    background-color: white;
    color: black;
    opacity: 0.8;
}