#comment{
    background-image: url("../images/bg-2.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 397px;
    margin-top: 30px;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

#comment .slide-comment{
    text-align: center;
    top: 65px;
}

#comment .slide-comment ul li i{
    color: rgb(250, 155, 3);
}
#comment .slide-comment ul li h2{
    text-transform: uppercase;
    color: white;
    letter-spacing: 5px;
}
#comment .slide-comment ul li h5{
    margin-top: 10px;
    color: rgb(250, 155, 3);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2.5px;
    margin-bottom: 8px;
}

#comment .slide-comment ul li h5::before{
    content: "-";
    margin-right: 5px;

}

#comment .blockquote{
    font-style: normal;
    color: white;
    font-size: 14px;
    line-height: 24px;

}


